<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все Юзеры</title>
</head>
<body>

<table border="1">
    <caption>USERS</caption>
    <tr>
        <th>id</th>
        <th>Имя</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">id</td>
        <td th:text="${user.getFirstName()}">name</td>
    </tr>
</table>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="|${user.getId()}. ${user.getFirstName()}|">USER</a>

</div>
</body>
</html>